/* Variables */
:root {
    --black: #000000;
    --darkgrey: #343434;
    --grey: #808080;
    --white: #d7d7d7;
}


body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    line-height: 1.6;
    max-width: 900px;
    margin: auto;
    padding: 40px;
    background-color: var(--black);
    color: var(--white);
    scroll-behavior: smooth;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

h4 {
    font-size: 1rem;
    margin-bottom: 20px;
    font-style: 600;
}

span {
    font-style: italic;
}

.subtitle {
    font-size: 18px;
    color: var(--grey);
    margin-bottom: 40px;
}

/* Navbar */

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 220px;
    background: var(--black);
    padding-top: 40px;
}

.sidebar a {
    display: block;
    color: var(--grey);
    padding: 12px 20px;
    text-decoration: none;
}

.sidebar a:hover {
    color: var(--white);
}

.nav-link {
transition: color 0.2s;
}

.nav-link.active{
    color: var(--white);
}

.content {
    margin-left: 240px;
    padding: 40px;
}



section {
    padding-top: 30px;
    padding-bottom: 90px;
    border-top: 1px solid var(--grey);
}




.full {
    width: 100%;
    margin-top: 20px;
}


.grid {

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;

    margin-top: 20px;

}


.grid img {

    width: 100%;

}


table {

    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

}

td,
th {

    border: 1px solid #ddd;
    padding: 10px;

}

th {
    background: #eee;
}


footer {

    margin-top: 100px;
    font-size: 14px;
    color: #777;

}

/* diagram */
#diagram {
    position:relative;
    width:100%;
    height:200px;
}

.node-container {
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:100%;
    position:relative;
    z-index:2;
}

.node {
    background:var(--darkgrey);
    color:var(--white);
    padding:8px 16px;
    border-radius:6px;
    font-family:sans-serif;
}
.node p {
    
    font-weight: 600;
}
.pointer:hover{
    cursor: pointer;
}

.outline {
    background: var(--black);
    border:1px solid var(--darkgrey);
}

.connections {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:1;
}

line{
    stroke:var(--white);
    stroke-width:2;
    stroke-dasharray:6;
    animation:dataflow 2s linear infinite;
}

@keyframes dataflow{

    from{
    stroke-dashoffset:0;
    }

    to{
    stroke-dashoffset:-12;
    }
}

/*related work*/
.related-work h4{
margin-bottom:1rem;
}

.related-work .card-body{
    font-size:0.9rem;
    line-height:1.3;
    color: var(--white);
} 
.related-work-row {
    margin: 40px;

}
.card {
    background-color: transparent!important;
}